<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input type="text" class="u-full-width" autocomplete="off" placeholder="Search lyrics" id="title">
    </div>
</div>
